---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="text-white">Hey, soy Hector <Badge>Disponible para trabjar</Badge></h1>
    <h2>
      ¡Hola! Soy un desarrollador FullStack con especialización en el Stack
      MERN, mi enfoque se centra en la creación de soluciones elegantes y
      eficientes que combinen una sólida arquitectura Backend con una
      experiencia de usuario atractiva en el Frontend. Me encanta enfrentar
      nuevos desafíos y aprender constantemente nuevas tecnologías para mejorar
      mis habilidades y mantenerme actualizado en un mundo tecnológico en
      constante evolución.
    </h2>
  </main>
</Layout>
